/*CONTACTO*/

main{
    .contacto {
        width: 150px;
        padding: 15px;
        margin: 10px;
    }
    fieldset {
        background-color: rgb(247, 247, 247);
        margin: 25px;
    }
    
}