.center {
    text-align: center;
}

.left {
    text-align: left;
}

.rght {
    text-align: right;
}
.text-white{
    color: rgb(255, 255, 255);
}


.titulogo {
    padding: 10px;
    margin: 10px;
}
