header{
    .navbar{
        height: 60px;
        width: 100%;
    }
    .black{
        background-color: $FondoNegro;
    }
    .logo {
        width: 100px;
        padding: 0.2rem;
        margin: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu {
        text-align: center;
        list-style-type: none;
        margin: 10px;
        .div a:hover {
            color: rgb(211, 78, 126);
            font-weight: bold;
        }
    }
    .titulo {
        text-align: left;
        color: $textoBlanco;
        padding: 2px;
        font-family: 'Staatliches', cursive;
        font-size: large;
    }

}



